:root {
    --green: #7992b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}



/* HEADING */
.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(149, 184, 233, 0.236);
}

.heading span {
    color: var(--green);
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--green);
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo:hover{
    color: var(--green);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--green);
}



/* QUESTION ONE */
.one {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(selen.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.one .content {
    max-width: 65rem;
}

.one .content h3 {
    font-size: 6rem;
    color: #333;
}

.one .content span {
    font-size: 3.5rem;
    color: var(--green);
    padding: 1rem 0;
    line-height: 1.5;
}

.one .content p {
    font-size: 1.5rem;
    color: #131c27;
    padding: 1rem 0;
    line-height: 1.5;
}

.one .content h5 {
    font-size: 1.5rem;
    color: var(--green);
}

.one .box-container {
    display: flex;
    gap: 1.5rem;
}

.one .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
    background-color: #ffffff;
}

.one .box-container .box .user {
    display: flex;
    align-items: center;
}

.one .box-container .box .user img {
    height: 30rem;
    width: 50rem;
}

.one .content span{
    font-size: 3.5rem;
    color: var(--green);
    padding:1rem 0;
    line-height: 1.5;
}





/* QUESTION TWO */
.two {
    background-color: #f1f7ff;
}

.two .content {
    flex: 1 1 40rem;
}

.two .content h3 {
    font-size: 3rem;
    color: var(--green);
}

.two .content p {
    font-size: 1.5rem;
    color: #818181;  
    padding-top: 1rem;
    line-height: 1.5;
    padding-bottom: 1.5rem;
}

.two .content h5 {
    font-size: 1.5rem;
    color: var(--green);
    text-align: right;
    padding-top: 1.5rem;
}

.two .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.two .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
    background-color: #ffffff;
}

.two .box-container .box .user {
    display: flex;
    align-items: center;
}

.two .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.two .box-container .box .user h3 {
    font-size: 2rem;
    color: #333;
}

.two .box-container .box .user span {
    font-size: 1.5rem;
    color: #999;
}

.two .box-container .box2 {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
    background-color: #ffffff;
}


.two .box-container .box2 {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
    background-color: #ffffff;
}

.two .box-container .box2 .user {
    display: flex;
      align-items: center;
}

.two .box-container .box2 .user img {
    height: 30rem;
    width: 50rem;
}

.two .box-container .box2 .user h3 {
    font-size: 2rem;
    color: #333;
}



/* QUESTION THREE */
.three {
    background-color: #ffffff;
}

.three .content {
    flex: 1 1 40rem;
}

.three .content h3 {
    font-size: 3rem;
    color: var(--green);
}

.three .content p {
    font-size: 1.5rem;
    color:#818181;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.three .content h5 {
    font-size: 1.5rem;
    color: var(--green);
    text-align: right;
}

.three .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.three .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 1 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}


.three .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.three .box-container .box .image img{
    height: 25rem;
}

.three .box-container .box:hover .image img{
    transform: scale(1.1);
}

.three .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.three .box-container .box:hover .image .icons{
    bottom: 0;
}

.three .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--green);
    color: #fff;
}

.three .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.three .box-container .box .image .icons a:hover{
    background: #333;
}

.three .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.three .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.three .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(--green);
    font-weight: bolder;
    padding-top: 1rem;
}

.three .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}



/* QUESTION FOUR */
.four {
    background-color: #f1f7ff;
}

.four .content {
    flex: 1 1 40rem;
}

.four .content h3 {
    font-size: 3rem;
    color: var(--green);
}

.four .content p {
    font-size: 1.5rem;
    color: #818181;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.four .content h5 {
    font-size: 1.5rem;
    color: var(--green);
    text-align: right;
    padding-top: 1.5rem;
}

.four .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.four .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
    background-color: #ffffff;
}

.four .box-container .box .user {
    display: flex;
    align-items: center;
}

.four .box-container .box .user img {
    height: 15rem;
    width: 30rem;
    object-fit: cover;
    margin-right: 1rem;
}

.four .box-container .box .user h3 {
    font-size: 2rem;
    color: #333;
}

.four .box-container .box .user span {
    font-size: 1.5rem;
    color: #999;
}


/* INFORMATION */

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
    
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--green);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}











@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

}


@media (max-width:768px) {


    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

}